.home {
  &__search {
    &-wrap {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 $container-padding;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 20px;
      padding: 4rem;
      background-color: $white-clr;
      z-index: 10;
      @include responsive($ipad){
        padding: 3rem
      }
      @include responsive($mob){
        padding: 2rem;
      }
      @include vendor(box-shadow,rgba(0, 0, 0, 0.08) 0px 4px 12px);
      .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsive($ipad) {
          flex-direction: column;
        }
        .search-input-wrap {
          display: flex;
          align-items: center;
          border-radius: 12px;
          border: 1px solid $grey-shade-3;
          padding: 1rem;
          margin-right: 2rem;
          @include responsive($ipad){
            margin-right: 0;
            margin-bottom: 2rem;
            width: 500px;
          }
          @include responsive($tablet){
            width: 100%;
          }
          svg {
            margin-right: 1rem;
          }
          input,select {
            padding: 0;
            border: 0;
            background: transparent;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .search-area-input {
            width: 300px;
            @include responsive($ipad){
              width: 100%;
            }
          }
        }
        .search-radio-wrap {
          margin-right: 2rem;
          display: flex;
          align-items: center;
          @include responsive($ipad){
            margin-right: 0;
            margin-bottom: 2rem;
          }
          .search-radio{
            &:first-child {
              margin-right: 2rem;
            }
          }
        }
        .search-button {
          @include responsive($ipad){
            width: 500px;
          }
          @include responsive($tablet){
            width: 100%;
          }
        }
      }
    }
  }
  &__banner {
    background-image: url(/assets/images/home/home_hero.png);
    background-size: cover;
    background-position: center;
    height: 550px;
    padding: $container-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &__lg_txt {
      color: $white-clr;
      font-size: 6.4rem;
      line-height: 7.4rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1rem;
      position: relative;
      z-index: 1;
      text-transform: capitalize;
      @include responsive($tablet) {
        font-size: 4rem;
        line-height: 4.8rem;
      }
    }
    &__sm_txt {
      color: $white-clr;
      font-size: 2.4rem;
      line-height: 3rem;
      font-weight: 400;
      text-align: center;
      position: relative;
      z-index: 1;
      @include responsive($tablet) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }

  &__intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: $grey;
    @include responsive($ipad){
      padding-top: 14rem;
    }
    &__middle {
      flex: 1;
      padding: 2rem;
      @include responsive($tablet) {
        padding: 2rem $container-padding
      }
    }

    &__left,&__right {
      @include responsive(1200) {
        width: 20%;
      }
      @include responsive($tablet) {
        display: none;
      }
    }

    &__title__wrap {
      margin-bottom: 6rem;
      text-align: center;
      @include responsive($tablet) {
        margin-bottom: 3rem;
      }
      .intro__title {
        margin-bottom: 1rem;
        color: $text-clr-primary;
      }
      .intro__sub__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $accent-clr-1;

      }
    }

    &__feat__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .intro__feat {
        width: calc(50% - 2rem);
        text-align: center;

        &:last-child {
          margin-top: 3rem;
          @include responsive($mob-max) {
            margin-top: 2rem;
          }
        }
        @include responsive($mob-max) {
          width: 100%;
        }
        .intro__feat__title {
          font-size: 4rem;
          line-height: 4.8rem;
          color: $text-clr-primary;
          margin-bottom: 1rem;
          letter-spacing: 0.1rem;
          @include responsive($ipad) {
            font-size: 2.4rem;
            line-height: 3.2rem;
            margin-bottom: 0.7rem;
          }
        }
      }
    }

  }

  &__brand {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @include responsive($ipad-pro) {
        flex-direction: column-reverse;
        justify-content: center;
      }
    }
    &__left,&__right {
      width: calc(50% - 2rem);
      @include responsive($ipad-pro) {
        width: 100%;
      }
    }
    &__title {
      margin-bottom: 1rem;
      @include responsive($ipad-pro) {
        text-align: center;
      }
    }
    &__desc {
      margin-bottom: 4rem;
      @include responsive($ipad-pro) {
        text-align: center;
      }
    }
    &__icon_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      @include responsive($ipad-pro) {
        justify-content: center;
      }
      .home__brand_icon {
        margin-bottom: 3rem;
        margin-right: 3rem;
      }
    }
    &__right {
      position: relative;
      .brand_front {
        position: relative;
        z-index: 1;
        overflow: hidden;
        @include responsive($ipad-pro) {
          text-align: center;
          margin-bottom: 2rem;
        }
        &::after {
          content: '';
          background-image: url(/assets/images/home/home_brand_back.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          right: -85px;
          transform: scale(0.8);
          width: 100%;
          height: 100%;
          z-index: -1;
          @include responsive($ipad-pro) {
            right: -145px;
          }
          @include responsive($mob-max) {
            display: none;
          }
        }
      }
    }
  }

  &__near {
    background: $grey;
    padding: 5rem 0;
    &__sub-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: $accent-clr-1;
      @include responsive($mob-max) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
    .project-res {
      margin: 0 1.5rem 1.5rem;
    }
  }

  &__newly {
    &__sub-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: $accent-clr-2;
      @include responsive($mob-max) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
    &__card-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .project-res {
      width: calc(50% - 1.5rem);
      margin-bottom: 3rem;
      @include responsive($ipad) {
        width: 100%;
      }
      @include responsive($mob-max) {
        .project-horizontal {
          display: block;
          border-radius: 0;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          .project-img {
            border-radius: 0;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            width: 100%;
            height: 200px;
          }
        }
      }
    }

  }

  &__review {
    background-color: $accent-clr-1;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
    &-title,&-sub-title {
      color: $white-clr;
      position: relative;
      z-index: 2;
    }
    &-sub-title {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
    &-users-wrap {
      position: relative;
      z-index: 2;
      .review-user {
        color: $white-clr;
        padding-right: 10rem;
        text-align: left;
        .horizontal__profile{
          &-name,&-feature{
            color: $white-clr;
          }
        }
        @include responsive($ipad-pro) {
          width: calc(50% - 3rem);
          padding-right: 3rem;
        }
        @include responsive($mob-max) {
          width: 100%;
          padding-right: 0rem;
        }
      }
      .review-text {
        margin-bottom: 1.5rem;
        color: $white-clr;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $white-clr;
      }
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url(/assets/icons/review-quote.svg);
      background-repeat: no-repeat;
      z-index: 0;
      width: 200px;
      height: 150px;
      top: 15px;
      left: 30px;
      @include responsive($tablet) {
        transform: scale(0.5);
        top: 0;
        left: 0;
      }
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url(/assets/icons/review-bg.svg);
      background-repeat: no-repeat;
      z-index: 0;
      width: 465px;
      height: 465px;
      bottom: -20px;
      right: 30px;
      opacity: 0.7;
      @include responsive($ipad-pro) {
        opacity: 0.3;
        transform: scale(0.5);
        right: 0;
        bottom: 0;
      }
      @include responsive($tablet) {
        display: none;
      }
    }
    
  }
}