.partners {
  &__banner {
    background-image: url(/assets/images/partner_hero_banner.png);
    background-size: cover;
    background-position: center;
    height: 550px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &__lg_txt {
      color: $white-clr;
      font-size: 6.4rem;
      line-height: 7.4rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1rem;
      position: relative;
      z-index: 1;
      @include responsive($tablet) {
        font-size: 4rem;
        line-height: 4.8rem;
      }
    }
    &__sm_txt {
      color: $white-clr;
      font-size: 2.4rem;
      line-height: 3rem;
      font-weight: 400;
      text-align: center;
      position: relative;
      z-index: 1;
      @include responsive($tablet) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }
  }

  &__locations {
    &__title {
      margin: 5rem 0;
      font-size: 4rem;
      line-height: 5rem;
      color: $text-clr-primary;
      font-weight: 700;
      @include responsive($tablet) {
        font-size: 3rem;
        line-height: 4rem;
        margin: 3rem 0;
      }
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .location__card {
        width: 32%;
        @include responsive($tablet) {
          width: 48%;
        }
        @include responsive($mob) {
          width: 100%;
        }
       &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 375px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 3rem;
        @include responsive($ipad-pro) {
          height: 280px;
        }
       } 
       &__title {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $text-clr-primary;
        font-weight: 500;
        text-transform: capitalize;
       }
      }
    }
  }

  &__feat {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: calc((100% - 120rem)/2);
    padding-left: 1.5rem;
    @include responsive(1200) {
      margin-left: 0;
      padding-left: 1.5rem;
    }
    @include responsive($ipad-pro) {
      padding: 0 1.5rem;
      margin: 2rem 0;
    }
    &__right {
      width: 400px;
      margin-left: 10rem;
      @include responsive($ipad-pro) {
        display: none;
      }
    }
    &__left {
      width: calc(100% - 400px - 10rem);
      @include responsive($ipad-pro) {
        width: 100%;
      }
    }
  }
}