.static {
  margin-bottom: 2rem;
  &__title {
    font-size: 3rem;
    line-height: 3.5rem;
    color: $text-clr-primary;
    margin: 2rem 0;
    font-weight: 700;
  }
  &__desc{
    &.contact-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      height: 30vh;
      .contact-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        background: $white-clr;
        color: $text-clr-primary;
        border-radius: 12px;
        gap: 1rem;
        box-shadow: $box-shadow;
        a{
          @include add-transition(all,$transition-timing);
          &:hover{
            color: $accent-clr-1;
          }
        }
      }
    }
  }

  &.calculator {
    form {
      margin: 1rem 0;
      align-items: flex-start;
      input {
        font-size: 2.4rem;
        &::placeholder{
          font-size: 2.4rem;
        }
      }
    }
    .cal__result {
      &-child {
        font-size: 2.4rem;
        span {
          &:last-child{
            font-weight: 700;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}