.common-btn {
	border-radius: 12px;
	padding: 1rem 2rem;
	background-color: $black-clr;
	&.secondary-btn {
		background-color: $accent-clr-1;
	}
	color: $text-clr-sec;
	text-transform: capitalize;
	cursor: pointer;
	@include add-transition(all,0.3s);
	display: flex;
	align-items: center;
	justify-content: center;
	.btn-icon-left {
		margin-right: 5px;
	}
	.btn-icon-right {
		margin-left: 5px;
	}
	&:hover {
		background-color:rgba($accent-clr-1, 1) ;
		&.secondary-btn {
			background-color: rgba($black-clr, 1);
		}
	}
}
