//? select base/root container
.MuiInputBase-root {
  background: $white-clr !important;
  border-radius: 12px !important;
  border: 0;
  width: 100%;
  &::after,&::before{
    display: none;
  }
  // &:focus-within,&:focus{
  //   outline: 2px solid $accent-clr-1;
  // }
}
//? select container
.MuiSelect-select,.MuiSelect-multiple {
  background-color: $white-clr !important;
  border-radius: 12px!important;
  border: 0;
  outline: 0;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
}

//? dropdown li wrapper
.MuiMenuItem-root {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
}

//? select input
.MuiSelect-nativeInput {
  border: 0;
}
//? dropdown container
.MuiPaper-root{
  border-radius: 12px !important;
}
//? checkbox inside dropdown
.MuiList-root .MuiCheckbox-root{
  color: $accent-clr-1 !important;
}
//? arrow icon in dropdown
.MuiSelect-icon	{
  width: 2rem;
  height: 2rem;
}

