.header {
  background-color: $white-clr;
  @include vendor(box-shadow,$box-shadow-2);
  z-index: 100;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    &__nav {
      display: flex;
      align-items: center;
      @include responsive($ipad) {
        visibility: hidden;
        opacity: 0;
        @include add-transition(all,$transition-timing);
        position: absolute;
        background: #fff;
        right: 0;
        top: 0;
        bottom: 0;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 3rem;
        border: 1px solid #e6e6e6;
        z-index: 99;
        @include vendor(box-shadow,$box-shadow-2);
        &.active {
          visibility: visible;
          opacity: 1;
        }
      }
      &-inner{
        display: flex;
        align-items: center;
        @include responsive($ipad){
          flex-direction: column;
          align-items: flex-end;
        }

      }
      .nav__wrapper {
        display: flex;
        align-items: center;
        @include responsive($ipad) {
          flex-direction: column;
          align-items: flex-end;
        }
        .nav__link {
          margin-right: 6rem;
          @include responsive($ipad) {
            margin-right: 0;
            margin-bottom: 3rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
          }
        }
      }
    }
    .header__login {
      border-radius:0;
      background: transparent;
      padding: 0;
      color:$text-clr-primary;
      margin-right: 6rem;
      font-size: 1.4rem;
      line-height: 2rem;
      @include responsive($ipad) {
        margin-right: 0;
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-bottom: 3rem;
      }
      &:hover {
        background: transparent;
        color: $accent-clr-1;
        svg path {
          fill: $accent-clr-1;
        }
      }
    }
  }
  &__hamburger-wrap {
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  &__hamburger {
    display: none;
    @include responsive($ipad) {
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  &__close{
    display: none;
    @include responsive($ipad){
      display: inline-block;
      text-align: left;
      margin-bottom: 3rem;
      height: 20px;
      svg {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
  }
  &__btn.common-btn{
    @include responsive($ipad){
      background: transparent;
      padding: 0;
      color: $text-clr-primary;
      &:hover{
        background: transparent;
        color: $accent-clr-1;
      }
    }
  }
  &__overlay{
    display: none;
    @include responsive($ipad){
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba($color: $black-clr, $alpha: 0.5);
      z-index: 95;
    }
  }
}