.login__modal {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-text,&-register {
    font-size: 1.4rem;
    color: $text-clr-primary;
    line-height: 1.7rem;
    margin-bottom: 2rem;
    @include responsive($mob) {
      font-size: 1.3rem;
    }
  }
  &-text {
    width: calc(100% - 60px - 1rem);
  }
  &-register {
    width: 60px;
    margin-left: 1rem;
  }
  &-highlight {
    font-size: 1.4rem;
    line-height: 1.7rem;
    display: inline-block;
    cursor: pointer;
    color: $accent-clr-2;
    @include add-transition(all,0.3s);
    &:hover{
      color: $accent-clr-1;
    }
    @include responsive($mob){
      font-size: 1.3rem;
    }
  }
  &-input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    input {
      width: 310px;
      border-bottom: 1px solid $grey-shade-2;
      font-size: 1.4rem;
      letter-spacing: 0.2rem;
      &::placeholder {
        font-size: 1.4rem;
      }
      @include responsive($mob-max) {
        width: 200px;
      }
    }
  }
  &-prefix {
    font-size: 1.4rem;
    margin-right: 2rem;
    color: $placeholder;
    padding-bottom: 1rem;
    word-break: normal;
  }
  &-button {
    width: 100%;
    @include responsive($mob) {
      padding: 0.6rem;
    }
  }
  .register__form {
    &-text {
      width: 100%;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
    &-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-radio {
      &:first-child {
        margin-right: 1rem;
      }
      .common-input-radio-text {
        font-size: 1.3rem;
      }
    }
    .common-form-input {
      width: 360px;
      @include responsive($mob){
        width: 300px;
      }
      @include responsive($mob-min){
        width: 250px;
      }
    }
    &-highlight {
      display: block;
      text-align: center;
      margin: 1rem 0;
    }
  }
  .otp__modal {
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: 350px;
      margin-bottom: 2rem;
      @include responsive($mob){
        min-width: 230px;
      }
    }
    &-input-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }
    &-input {
      width: 20px;
      padding: 0;
      padding-left: 0.5rem;
      padding-bottom: 0.5rem;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      .otp__modal-text-wrap{
        width: calc(100% - 50px - 1rem);
      }
      .otp__modal-highlight{
        width: 50px;
      }
    }
    &-top,&-bottom{
      font-size: 1.4rem;
      color: $text-clr-primary;
      line-height: 1.7rem;
      @include responsive($mob){
        font-size: 1.3rem;
      }
    }
    &-highlight {
      margin-left: 1rem;
    }
    &-number{
      display: inline-block;
      color: $accent-clr-1;
    }
  }
  .card-content{
    padding: 4rem;
    @include responsive($mob-max){
      padding: 3rem;
    }
    @include responsive($mob){
      padding: 2rem;
    }
  }

}