.logo_v1 {
  height: 40px;
  .logo_icon {
    margin-right: 1.5rem;
  }
}
.logo_v2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  .logo_icon {
    margin-bottom: 1.5rem;
    width: 40px;
    height: 40px;
  }
  .logo_name {
    width: 165px;
    height: 35px;
  }
  @include responsive($mob) {
    .logo_icon {
      margin-bottom: 1rem;
      width: 30px;
      height: 30px;
    }
    .logo_name {
      width: 110px;
      height: 30px;
    }
  }
}