.container {
	max-width: $container-width;
	padding: 0 $container-padding;
	margin: 0 auto;
}

/* next js root element */
#__next {
	min-height: 100vh;
}

.body-class,#__next {
	display: flex;
	flex-direction: column;
}
.main-wrapper {
	flex-grow: 1;
	overflow: auto;
}
.paragraph {
	font-size: 1.6rem;
}
.d-flex {
	display: flex;
}
.d-inl-flex {
	display: inline-flex;
}
.d-block {
	display: block;
}
.text-center {
	text-align: center;
}
.disable-select {
	user-select: none;
}
.d-block {
	display: block;
}
.horizontal-center {
	display: flex;
	align-items: center;
}
.pos-rel {
	position: relative;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-width {
	width: 100%;
}
/* responsive images */
.img-wrap {
	overflow: hidden;
	display: block;
	position: relative;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($black-clr, 0.5);
		opacity: 0;
		@include add-transition(opacity, 0.3s);
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.clearfix {
	zoom: 1;

	&::before {
		content:" ";
		display:block;
		overflow:hidden;
		visibility:hidden;
		width:0;
		height:0;
	}

	&::after {
		content:" ";
		display:block;
		overflow:hidden;
		visibility:hidden;
		width:0;
		height:0;
		clear: both;
	}
}

.error-page {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 3rem;
	margin: 2rem 0;
	padding: 0 $container-padding;
	@include responsive($mob) {
		font-size: 2.2rem;
	}
	div {
		text-align: center;
	}
	.error-small {
		font-size: 1.4rem;
		opacity: 0.7 ;
	}
	.error-404 {
		color: $accent-clr-1;
		font-weight: 700;
		display: inline-block;
	}
	a {
		margin-top: 2rem;
		font-size: 1.6rem;
	}
}

.normal-text {
	font-size: 1.4rem;
	line-height: 2rem;
	color: $text-clr-primary;
}
.link-text {
	font-size: 1.4rem;
	line-height: 2rem;
	color: $text-clr-primary;
	text-transform: capitalize;
	@include add-transition(all,0.3s);
	&:hover {
		color: $accent-clr-1;
		text-decoration: underline;
	}
}

.sub-title {
	font-size: 4rem;
	line-height: 5rem;
	font-weight: 700;
	color: $text-clr-primary;
	@include responsive($tablet) {
		font-size: 3rem;
		line-height: 4rem;
	}
}

.sub-title-sm {
	font-size: 2.4rem;
	line-height: 3.2rem;
	font-weight: 600;
	color: $text-clr-primary;
}


.breadcrumb {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 2rem 0;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: $placeholder;
	a {
		@include add-transition(all,0.3s);
		&:hover {
			text-decoration: underline;
		}
	}
	.breadcrumb-sep {
		margin: 0 1rem;
		display: inline-block;
	}
}

.divider-lg {
	margin-bottom: 5rem;
}
.divider {
	margin-bottom: 3rem;
}
.divider-sm {
	margin-bottom: 1.5rem;
}

.common-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	.common-form-input {
		width: 100%;
		border-bottom: 1px solid $placeholder;
		margin: 2.5rem 0;
		font-size: 1.4rem;
		line-height: 1.8rem;
		&::placeholder {
			font-size: 1.4rem;
			line-height: 1.8rem;
			color: $placeholder;
		}
		@include responsive($mob-max) {
			margin: 2rem 0;
		}
	}
	.common-form-button {
		width: 100%;
		margin-top: 2.5rem;
		@include responsive($mob-max) {
			margin-top: 2rem;
		}
		span {
			font-size: 1.6rem;
			line-height: 2rem;
		}
	}
}

.to-the-top {
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 2px solid $text-clr-primary;
	border-radius: 50%;
	color: $text-clr-primary;
	font-size: 2rem;
	margin-left: auto;
	position: relative;
	@include add-transition(all,0.3s);
	&:hover {
		background-color: $accent-clr-1;
		border: 2px solid transparent;
		color: $white-clr;
		svg,path {
			fill: $white-clr;
		}
	}
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
/* slick slider */
/* Slider */
.slick-slider {
	position: relative;

	display: block;
	box-sizing: border-box;

	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after {
	display: table;

	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}

.slider-arrows {
  display: inline-block;
  background-color: $white-clr;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  top: 30%;
  cursor: pointer;
  z-index: 10;
  @include vendor(box-shadow,$box-shadow-2);
  @include vendor(all,0.3s);
  &.slider-next{
    right: 0;
  }
  &.slider-prev{
    left: 0;
  }
  &.slick-disabled{
    opacity: 0;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
