/* Font */
$site-font: 'Circular Std-Book';

/* Colors */
$accent-clr-1: #9c19e0;
$accent-clr-1-light: rgb(189, 100, 237);
$accent-clr-2: #19e09c;
$text-clr-primary:#000;
$text-clr-sec:#fff;
$cta-clr:#9c19e0;
$grey: #e7e7e7;
$grey-shade-2 : #F7F7F7;
$placeholder: #b9b9b9;
$black-clr: #000;
$white-clr: #fff;

/* container width */
$container-width: 120rem;

/* Devices */
$big-pc: 2500;
$med-pc: 1800;
$small-pc: 1240;
$ipad-pro: 1024;
$ipad: 991;
$tablet: 767;
$mob: 480;
$mob-min: 375;

