.home-desktop {
  align-items: flex-end;
  background-color: var(--black-haze);
  display: flex;
  flex-direction: column;
  height: 4681px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

