@font-face {
  font-family: "Circular Std-Book";
  font-style: normal;
  font-weight: 300;
  src: url(../public/assets/font/CircularStd-Light.otf);
}
@font-face {
  font-family: "Circular Std-Book";
  font-style: normal;
  font-weight: 400;
  src: url(../public/assets/font/CircularStd-Book.otf);
}
@font-face {
  font-family: "Circular Std-Medium";
  font-style: normal;
  font-weight: 500;
  src: url(../public/assets/font/CircularStd-Medium.otf);
}
@font-face {
  font-family: "Circular Std-Bold";
  font-style: normal;
  font-weight: 700;
  src: url(../public/assets/font/CircularStd-Bold.otf);
}
@font-face {
  font-family: "Circular Std-Bold";
  font-style: normal;
  font-weight: 900;
  src: url(../public/assets/font/CircularStd-Black.otf);
}
