@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Circular Std-Book";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/CircularStd-Book") format("opentype");
}
@font-face {
  font-family: "Circular Std-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/CircularStd-Medium") format("truetype");
}
@font-face {
  font-family: "Circular Std-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/CircularStd-Regular") format("truetype");
}
@font-face {
  font-family: "Circular Std-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/CircularStd-Bold") format("opentype");
}
